@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
    --branco-principal: #FFFFFF ;
    --cinza-principal: #C0C0C0;
    --cor-de-fundo: #00030C;
    --botao-azul: #167BF7;
    --botao-azul-efeito: #6daaf3;
    --fonte-principal: 'Inter';
}
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font: var(--fonte-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
.principal{
    background-image: url("./Assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
}
.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
}
.container__botao{
    text-decoration: none;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 10px;
    padding: 1em;
    display: block;
    margin-bottom: 1em;
    text-align: center;
}
.botao_secundario{
    text-decoration: none;
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}
.container__aviso{
    font-size: 12px;
    color:var(--cinza-principal)
}
.container__titulo{
    font-size: 28px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container___caixa{
    margin: 0 6em;
}
.secundario__imagem{
    size: 80%;
}
.secundario{
    align-items: center;
    margin: 0 10em;
}
.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}
.descricao__texto{
    font-size: 16px;
    color: var(--cinza-principal);
}
.secundario_botao{
    display: inline-block;
    margin-top: 1em;
}
.container__descricao{
    padding: 2em;
}
.dispositivos__titulo{
    font-size: 48px;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin: 5em 0;
}
.lista__item{
    font-size: 32px;
    color: var(--branco-principal);
}
.dipositivos{
    text-align: center;
}
.rodape{
    text-align: center;
    margin: 5em 3em;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    margin-top: 1em;
}
.rodape__texto{
    margin: 1em 0;
    color: var(--cinza-principal);
    font-size: 14px;
    text-align: center;
}
.lista__link{
    text-decoration: none;
    color: var(--branco-principal);
    margin-left: 1em;
}
.lista__link:hover{
    color: var(--botao-azul);
}
.lista__link:active{
    color: purple;
}
.container__botao:hover{
    
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
    
}